<?xml version="1.0" encoding="utf-8"?>

<launch>

  <arg name="respawn_value" default="false" />
  <arg name="octomap_file" default="$(find segmatch_launchers)/demonstration_files/powerplant/octomaps/delta_3_test.bt" />

  <!-- Launch ground segmentation -->
  <include file="$(find ground_segmentation)/launch/segmentation.launch" />

  <!-- Octomap compare node -->
  <node name="octomap_compare" pkg="octomap_compare" type="octomap_compare_online_node" output="screen">
    <rosparam command="load" file="$(find octomap_compare)/launch/compare_params.yaml"/>
    <param name="cloud_topic" value="/ground_segmentation/obstacle_cloud" />
    <param name="base_file" value="$(arg octomap_file)" />
    <param name="classifier_file_name" value="$(find octomap_compare)/launch/random_forest_classifier.xml" />
  </node>

</launch>
